* {
  padding: 0;
  /* justify-content: center; */
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
}

.app {
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('./images/city.jpg');
  background-size: cover;
  background-position: center;
   display: flex; 
  justify-content: center;
  align-items: center;
  text-align:center;
  /* color: aliceblue; */
}

.card {
  width: 30%;
  height: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 7px 7px;
  border-radius: 2%;
  flex-direction: column;
}

.heading {
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  height: 580px;
  font-family: 'Spartan' sans-serif;
  font-size: medium;
  color: black;
}

.button{
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 180px;
  width: 150px;
  bottom: 2px;
  opacity: 1;

  background-color: rgb(117, 172, 204);
  border: 1px solid rgba(238, 240, 243, 0.6);
}

@media only screen and (max-widht:600px){
  .card{
    width: 60%;
    height: 25%;
  }
  
}